@model Online_Courses.Models.T_Students

@{
    ViewBag.Title = "ثبت نام کاربر";
}

<h4 class="title_list text_list">ثبت اطلاعات دانشجو جدید</h4>


@using (Html.BeginForm("Create", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-row">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.StudentFamily, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.StudentFamily, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentFamily, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-row">
            @Html.LabelFor(model => model.StudentEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentEmail, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.StudentPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.StudentPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentPhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-row">
            @Html.LabelFor(model => model.StudentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.StudentPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentPassword, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">تکرار رمز عبور</label>
            <div class="col">
                <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" />
                @*@Html.ValidationMessageFor(model => model.StudentPassword, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <br />
        <div class="form-row">
            @Html.LabelFor(model => model.StudentAge, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.StudentAge, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentAge, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.StudentGender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                <div class="checkbox">
                    <select>
                        <option hidden>
                            انتخاب نشده
                        </option>
                        <option value="true">
                            مرد
                        </option>
                        <option value="false">
                            زن
                        </option>
                    </select>
                    @Html.ValidationMessageFor(model => model.StudentGender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="form-row">
            @Html.LabelFor(model => model.StudentMarital, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                <div class="checkbox">
                    <select>
                        <option hidden>
                            انتخاب نشده
                        </option>
                        <option value="true">
                            متأهل
                        </option>
                        <option value="false">
                            مجرد
                        </option>
                    </select>
                    @Html.ValidationMessageFor(model => model.StudentMarital, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.LabelFor(model => model.StudentImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col">
                <input type="file" id="StudentImageName" name="StudentImageName" class="form-control" />
                @Html.ValidationMessageFor(model => model.StudentImageName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="float:left !important;margin-top:15px !important;margin-bottom:15px !important">
            @Html.ActionLink("بازگشت به لیست دانشجوها", "Index", null, new { @class = "btn btn-primary" })
            <input type="submit" value="ثبت نام" class="btn btn-success" />
        </div>
    </div>
}


<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
