    @model IEnumerable<Online_Courses.Models.T_Students>

@{
    ViewBag.Title = "کاربران";
    int count = 100;
}

<div class="title_list">
    <h3 class="text_list">
        لیست دانشجویان
    </h3>
</div>

<p>
    @Html.ActionLink("ثبت نام دانشجو جدید", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            ردیف
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFamily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentRegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentIsActive)
        </th>
        <th colspan="3" style="text-align:center">عملیات</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFamily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentRegisterDate)
            </td>
            <td>
                @if (item.StudentIsActive == true)
                {
                    <span style="color:green">فعال</span>
                }
                else
                {
                    <span style="color:red">غیر فعال</span>
                }
            </td>
            <td colspan="3">
                @Html.ActionLink("ویرایش", "Edit", new { id = item.StudentId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("جزییات", "Details", new { id = item.StudentId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.StudentId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        count++;
    }

</table>
